<!DOCTYPE html>
<html>
<head>
    <title>Happy Birthday!</title>
    <style>
        body {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div>
        <h1>Many more happy returns of the day dear!</h1>
        <img src="{{ url_for('static', filename='bday.png') }}" alt="Happy Birthday!" width="800" height="500">
    </div>
</body>
</html>
