body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}

.animate {
    animation: slide 3s ease-in-out infinite;
  }
  
  @keyframes slide {
    0% { transform: translateX(0%); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
  